services:
  postgres-develop:
    image: postgres:latest
    container_name: postgres-database
    env_file: ./docker.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: