services:
  erp-crm-AuthService:
    image: samfordev/erp-crm-auth-service:0.0.1
    container_name: erp-crm-auth-service
    ports:
      - "8080:8080"
    env_file:
      - ./docker.env

  erp-crm-InsuranceService:
    image: samfordev/erp-crm-insurance-service:0.0.1
    container_name: erp-crm-insurance-service
    ports:
      - "8081:8081"
    env_file:
      - ./docker.env

  erp-crm-frontend:
    image: samfordev/erp-crm-frontend:0.0.1
    container_name: erp-crm-frontend
    ports:
      - "4200:80"
    depends_on:
      - erp-crm-AuthService
      - erp-crm-InsuranceService
    restart: unless-stopped

volumes:
  postgres_data: